body {
	background-color: #000;
	color: #FF9900;
}

h1 {
	text-align: center;
}

#container {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	border: 2px solid #FF9900;
	border-radius: 10px;
}

#scores {
	text-align: center;
}

#board {
	width: 132px;
	height: auto;
	margin: 0 auto;
	clear: both;
}

#board a {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	border: 2px solid #FF9900;
	margin: 5px;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	color: #FF9900;
}

#controls {
	text-align: center;
	clear: both;
}

#reset {
	color: #FF9900;
}
