body {
	background-color: #000;
	color: #FF9900;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

#container {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	border: 2px solid #FF9900;
	border-radius: 10px;
}

#scores {
	text-align: center;
}

#board {
	width: 120px;
	margin: 0 auto;
}

#board div {
	width: 30px;
	height: 30px;
	float: left;
	border: 2px solid #FF9900;
	border-radius: 5px;
	margin: 3px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	line-height: 30px;
	color: #FF9900;
	cursor: pointer;
}

#controls {
	text-align: center;
	clear: both;
}

#reset {
	color: #FF9900;
}
